gel-type-enable--markup-output: true;

@import '/node_modules/gel-sass-tools/sass-tools';
@import '/node_modules/sass-mq/mq';
@import '/node_modules/gel-typography/typography';

@include gel-typography('pica');
@include gel-typography('canon');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#header_image {
  display: flex;
  /* background-image: url('http://portobellostreet-294832.c.cdn77.org/imagenes_muebles/57169-Mueble-Cuadro-canvas-mapa-globo-terraqueo-1664.jpg'); */
  /* background: orange */
  background-repeat: round;
  width: 100%;
  height: 100px;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.logo{
  text-align: left;
  padding-bottom: 0px;
  background-color: #222428;
}

body {
  background-color: white;
}

.main_button {

  border: 2px solid orange;
  color: black;
  background-color: white;
  font-size: 18px;
  padding: 8px 15px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  font-weight: bolder;
  font: Garamond;
}

.main_button:hover {
  background-color: orange;
  color: white;
  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.05), 0 10px 25px 0 rgba(0,0,0,0.05);
  opacity: 0.9;
}

button {
  border: 1px solid orange;
  font-size: 15px;
  margin-top: 12px;
  padding: 10px;
}

.vertical-timeline-element--work {
 background-image: url("http://portobellostreet-294832.c.cdn77.org/imagenes_muebles/57169-Mueble-Cuadro-canvas-mapa-globo-terraqueo-1664.jpg");
}

.verticalTimeline{
 background-color: orange;
}

h3 {
  font-weight: bolder;
  font: Garamond;
  font-family: monospace;
  @include gel-typography('pica');
}

h4 {
  font-weight: bolder;
  font: Garamond;
  font-family: monospace;
  font-size: 15px;
}

input{
  font-size: 1.1em;
  padding: 3px;
  border: 1px solid orange;
}

#date-picker{
  display: flex;
  justify-content: center;
  margin: 5px;
  margin-top: 20px;
}

.event_heading{
  font-weight: bolder;
  font: Garamond;
  font-family: monospace;
  color: #d6223d;
  text-align: center;
}

.copyright{
  text-align: center;
  font-size: 15px;
}
